  <% image_title = "Добавил #{render partial: 'users/user', object: photo.user}" %>

  <% photo_delete = link_to(fa_icon('trash'), event_photo_path(photo.event, photo),
            method: :delete, data: {confirm: t('.destroy_confirm')}) %>

  <% if current_user_can_edit?(photo) %>
    <% image_title += photo_delete %>
  <% end %>

  <div class="event-photo buffer-both">
    <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {
      toggle: 'lightbox', title: image_title, gallery: 'event-photos' } %>
  </div>


