<p>Приветствуем  <%= @resource.email %>!</p>

<p>Вы запросили замену пароля. Это возможно сделать по следующей ссылке</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали замену пароля, пожалуйста, проигнорируйте это сообщение</p>
<p>Ваш пароль не может быть изменен пока Вы не подтвердите ссылку и не создадите новый пароль</p>
